.background-login {
    background-image: url("Assets/Background.webp");
    background-position: center;
    background-size: cover;
    
}

.bg-glass {
    backdrop-filter: blur(10px) !important;
    background-color: rgba(255, 255, 255, 0.01) !important;
}

.login input{
    background: transparent !important;
    color:white !important;
}
.login input:focus{
    background: transparent !important;
}
.login input:focus ~ label{
    color:rgba(255, 255, 255, 0.427) !important;
}
.login label{
    color: white !important;
}
.login label::after{
    background: transparent !important;
    color:rgba(255, 255, 255, 0.5) !important;
}